:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root {
  --bg-color: #c9c9c9;
  --text-color: #1a1a1a;
  --primary-color: #2F3C7E;
  --secondary-bg: #f0f0f0;
  --border-color: #e0e0e0;
  --card-bg: #ffffff;
  --input-bg: #f8fafc;
  --hover-bg: #eaeaea;
}

[data-theme="dark"] {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
  --primary-color: #2F3C7E;
  --secondary-bg: #2d2d2d;
  --border-color: #444;
  --card-bg: #2c2c2c;
  --input-bg: #3b3b3b;
  --hover-bg: #444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}


input,select{
  padding: 8px 5px;
  border-radius: 5px;
  outline-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 1.2rem;
  background-color: var(--input-bg);
  color: var(--text-color);
}
input:focus,select:focus{
  border-color: var(--primary-color);
  background-color: var(--hover-bg);
}
input::placeholder,select::placeholder{
  color: var(--text-color);
  opacity: 0.7;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
